/* DatePicker */

.daycy.date-picker {
    max-width: 19.5rem;
}

/* DateRangePicker */

.daycy.date-range-picker {
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 0.28571429rem;
    min-width: 16.5rem;
    max-width: 19.5rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.form .daycy.date-picker,
.daycy.date-picker.fluid,
.ui.form .daycy.date-range-picker,
.daycy.date-range-picker.fluid {
    max-width: unset;
}

.daycy.date-range-picker.focus {
    border-color: #85b7d9;
}

.daycy.date-range-picker > .ui.input {
    flex: 1 1 auto;
    width: 0 !important;
}

.daycy.date-range-picker > .ui.input > input {
    background: unset !important;
    border: unset !important;
}

.daycy.date-range-picker > .ui.input.end-date > input {
    text-align: right;
}

.daycy.date-range-picker > .date-range-seperator {
    flex: 0 0 auto;
    color: #888;
    margin-bottom: 0.3rem;
    margin-right: 0 !important;
}

/* Calendar */

.daycy.calendar > .title {
    display: flex;
    justify-content: space-between;
    font-size: 120%;
    font-weight: bold;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    padding: 0 1rem 0.833rem;
    margin: 0 -1rem 0.833rem;
    color: rgb(34, 36, 38);
}

.daycy.calendar > .title > .icon {
    cursor: pointer;
    color: rgb(34, 36, 38, 0.3);
}

.daycy.calendar > .title > .icon:hover {
    color: rgb(34, 36, 38, 0.5);
}

.daycy.calendar > .grid {
    width: 17.5rem;
    display: flex;
    flex-wrap: wrap;
}

.daycy.calendar > .grid > .cell {
    flex: 0 0 2.3rem;
    height: 2.3rem;
    margin: 0.1rem;
    text-align: center;
    line-height: 2.3rem;
    color: rgb(34, 36, 38);
    border-color: rgba(34, 36, 38, 0.2);
    cursor: pointer;
    border-radius: 0.3rem;
}

.daycy.calendar > .grid > .cell.range {
    background-color: #dff0ff;
    border-color: rgba(34, 36, 38, 0.3);
}

.daycy.calendar > .grid > .cell.selected {
    background-color: #2185d0;
    color: #FFF;
    font-weight: bold;
    border-color: rgba(34, 36, 38, 0.4);
}

.daycy.calendar > .grid > .cell.label {
    color: rgba(34, 36, 38, 0.5);
    font-size: 80%;
    height: 1.3rem;
    line-height: 1.3rem;
    cursor: unset;
}

.daycy.calendar > .grid > .cell.outside {
    opacity: 0.3;
}

.daycy.calendar > .grid > .cell.hover {
    border-width: 1px;
    border-style: solid;
    line-height: calc(2.3rem - 2px);
}
